* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body,
ul,
li,
a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    padding-top: 60px;
}

.navbars {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: #333;
    color: white;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.navbar-logo {
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

.navbar-menu ul {
    display: flex;
    gap: 30px;
    margin-bottom: 0px;
    padding-left: 0;
}

.navbar-menu a {
    color: white;
    font-size: 1.3rem;
    transition: color 0.3s ease;
    text-decoration: none;
}

.cusrorpo {
    cursor: pointer;
    font-size: 24px;
}

.navbar-menu li:hover {
    color: hsl(50deg 100% 50%);
}

.NavActive {
    color: hsl(50deg 100% 50%);
}


/* cart open */
.sidebar {
    position: fixed;
    top: 0;
    right: -320px;
    min-width: 300px;
    height: 100%;
    background-color: #f4f4f4;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease;
    padding: 15px;
    z-index: 1000;
    overflow: auto;
}

.sidebar.open {
    right: 0;
}

.sidebar h2 {
    margin: 20px 0;
    font-size: 24px;
}

.sidebar p {
    color: #555;
    font-size: 14px;
}

body.sidebar-open {
    overflow: hidden;
}

.cartList {
    background-color: #ffffff;
    margin-bottom: 10px;
    display: flex;
    border: 1px solid #c9c9c9;
}

.cartUl {
    padding-left: 0;
}

.cartFlex {
    display: flex;
}

.cartImg {
    margin-right: 10px;
    min-width: 100px;
    max-width: 100px;
}

.pElp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0rem;
}

.cartNumber {
    background-color: red;
    border-radius: 50%;
}

.cart-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.8rem;
}

.cart {
    cursor: pointer;

    && :hover {
        color: hsl(50deg 100% 50%);
    }
}

.cart-count:hover~.cart {
    color: hsl(50deg 100% 50%);
}

.cart-container {
    display: grid;
    align-items: center;
    position: relative;
    font-size: 1.9rem;
    cursor: pointer;
}

.percart {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #333;
    overflow: hidden;
    text-transform: capitalize;
}

.cart-count {
    position: absolute;
    z-index: 3;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 10px;
}

.delete {
    font-size: 30px;
    cursor: pointer;
}

.addingFlex {
    display: flex;
    justify-content: space-between;
}

.green {
    padding: 10px;
    width: 80px;
    height: 30px;
    background-color: rgb(64 211 64);
    border-radius: 5px;
    margin-right: 15px;
}

.ico {
    position: relative;
    bottom: 3px;
    cursor: pointer;
}

.icons {
    position: relative;
    font-size: 20px;
    font-weight: 500;
    bottom: 10px;
}

.no {
    display: none;
}

/* 3 dot menu  */

.label-check {
    display: none;
}

.hamburger-label {
    width: 30px;
    height: 20px;
    display: block;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
}

.hamburger-label div {
    width: 30px;
    height: 3px;
    background-color: #fff;
    position: absolute;
}

.line1 {
    transition: all 0.3s;
}

.line2 {
    margin: 7px 0 0 0;
    transition: 0.3s;
}

.line3 {
    margin: 14px 0 0 0;
    transition: 0.3s;
}

#label-check:checked+.hamburger-label .line1 {
    transform: rotate(35deg) scaleX(0.55) translate(15px, -1.5px);
    border-radius: 50px 50px 50px 0;
}

#label-check:checked+.hamburger-label .line3 {
    transform: rotate(-35deg) scaleX(0.55) translate(15px, 1.5px);
    border-radius: 0 50px 50px 50px;
}

#label-check:checked+.hamburger-label .line2 {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    width: 18px;
}

#label-check:checked+.hamburger-label {
    transform: rotate(90deg);
}

/* search  */
.input-container {
    position: relative;
    display: flex;
    align-items: center;
}

.input {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 16px 16px;
    background-color: transparent;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.input::placeholder {
    color: transparent;
}

.input:focus::placeholder {
    color: rgb(131, 128, 128);
}

.input:focus,
.input:not(:placeholder-shown) {
    background-color: #fff;
    border: 1px solid rgb(98, 0, 255);
    /* input width */
    width: 0px;
    cursor: text;
    padding: 18px 16px 18px 40px;
}

.icon {
    position: absolute;
    left: 0;
    top: 0;
    height: 40px;
    width: 40px;
    background-color: #fff;
    border-radius: 10px;
    z-index: -1;
    fill: #333;
    border: 1px solid #333;
}

.input:hover+.icon {
    transform: rotate(360deg);
    transition: .2s ease-in-out;
}

.input:focus+.icon,
.input:not(:placeholder-shown)+.icon {
    z-index: 0;
    background-color: transparent;
    border: none;
}

.cartSvg {
    height: 200px;
    margin-bottom: 10px;
}

.cartSvgs {
    height: 200px;
}

.cartSvgCenter {
    display: grid;
    place-items: center;
    height: 77vh;
}

.floatDown {
    cursor: pointer;
    padding: 15px;
    background-color: #333;
    position: absolute;
    z-index: 4;
    top: 60px;
    right: -5rem;
    transition: right 0.3s ease-in-out;
}

.logShow {
    right: 0;
}

.hide {
    display: none;
}

.humList {
    position: fixed;
    background-color: #333;
    color: white;
    right: 0;
    padding: 15px;
    top: 52px;
    z-index: 10;
}

.humList li {
    padding: 15px;
}

.cartTwo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.alincenter {
    display: grid;
    place-items: center;
}

.paddings {
    padding-top: 5px;
    width: 155px;
    font-weight: 500;
}

.humList {
    position: fixed;
    background-color: #333;
    color: white;
    padding: 15px;
    right: 0;
    top: -195px;
    z-index: 10;
    transition: top 0.3s ease-in-out;
}

.humList.show {
    top: 52px;
}

.humList li:hover {
    color: hsl(50deg 100% 50%);
}