/* scroll to top  */
.back-to-top {
    position: fixed;
    z-index: 10;
    bottom: 20px;
    right: 20px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
    box-shadow: white 0px 5px 15px;
}

.back-to-top:hover {
    background-color: #515151;
}