.logo {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    text-align: center;
    color: #333;
    font-weight: 700;
}

form {
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 1.5rem 1rem;
    width: 300px;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

form input {
    outline: none;
    padding: 0.4rem 0.5rem;
    margin-bottom: 0.8rem;
    font-size: 0.9rem;
}

form input:focus {
    border: 1.8px solid #333;
}

form .login {
    outline: none;
    border: none;
    background: #333;
    padding: 0.8rem 1rem;
    border-radius: 0.4rem;
    font-size: 0.9rem;
    color: #fff;
    display: flex;
    justify-content: center;
}

form .login:hover {
    background: #434343;
    cursor: pointer;
}

form a {
    text-decoration: none;
    text-align: center;
    font-size: 0.9rem;
    padding-top: 0.8rem;
    color: #1877f2;
}

form hr {
    background: #f7f7f7;
    margin: 0.5rem;
}

form .create-account {
    outline: none;
    border: none;
    background: #06b909;
    padding: 0.8rem 1rem;
    border-radius: 0.5rem;
    font-size: 0.9rem;
    color: #fff;
    width: 75%;
    margin: 0 auto;
}

form .create-account:hover {
    background: #03ad06;
    cursor: pointer;
}

.Formcenter {
    display: grid;
    place-items: center;
    margin-top: 70px;
    /* height: 100vh; */
}